
<h1 class="logo">Remindr</h1>
<div class="composer-wrapper container">
	<form class="create-reminder-form" role="form-inline" ng-submit="createReminder()" ng-init="initForm()">
		<div class="row">
			<div class="left col-md-6">
				<div class="top row form-group">
					<label for="message-name">Remind</label>
					<input type="text" class="form-control input-lg" id="message-name" placeholder="jappleseed" ng-model="message.user">
				</div>
				<div class="bottom row form-group">
					<label for="message-date">by</label>
					<input type="date" class="form-control input-lg" id="message-date" ng-model= "message.dueDate">
				</div>
			</div>
			<div class="right col-md-6">
				<div class="top row form-group">
					<label for="message-task">to</label>
					<input type="text" class="form-control input-lg" id="message-task" placeholder="take out the trash" ng-model= "message.task">
				</div>
				<div class="bottom row form-group">
					<label for="message-time">at</label>
					<input type="time" class="form-control input-lg" id="message-time" ng-model="message.dueTime">
				</div>
			</div>
		</div>
		<div class="row">
			<textarea class="form-control" ng-model="message.details" rows="4"></textarea>
		</div>
		<div class="row">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>	
	</form>
</div>
