$blue: #66ACFF;
$darkBlue: #356FB2;
$lightGreen: #61E561;
$green: #46a546;
$darkGreen: #297F29;


body, html {
	padding-top: 0;
	height: 100%;
	background-color: $blue;
}

.ng-view {
	height: 90%;
	background-color: $blue;
}

.create-remindr-form {
	.row {
		margin-bottom: 10px;
	}
	input, label {
		margin-top:0;
		margin-bottom: 0;
		vertical-align: baseline;
		display: inline;
	}
	label {
		font-size: 2em;
	}
	.top {
		input {
			width: 250px;
		}
	}
	.bottom {
		input {
			width: 220px;
		}
	}
	.right {
		text-align: left;
	}
	.left {
		text-align: right;
	}
	button {
		float:right;
	}
}

.navbar {
	border-radius: 0 !important;
	margin: 0;
}

.page {
	background-color: $blue;
	width: 100%;
	height: 100%;
	position: relative;

	form.form {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		background-color: white;
		width: 95%;
		height: 95%;
		height: auto;
		max-width: 400px;
		padding: 20px;
		border-radius: 5px;
	
		&.configure {
			background-color: #eee;
			max-height: 180px;
			.nav-tabs {
				margin: 0 -20px;
				padding: 0 20px;
			}
			.tab-pane {
				background-color: white;
				padding: 20px 20px 20px;
				border-radius: 0 0 5px 5px;
				margin: 0 -20px -20px -20px;
				.checkbox-wrapper {
					.inline {
						display: inline-block;
					}
					.checkbox {
						width: 24px;
						height: 24px;
						margin-top: -7px;
					}
					h3 {
						margin: 0;
					}
					margin-bottom: 10px;
				}
			}
		}
		&.share {
			max-height: 220px;
		}
		&.login {
			max-height: 220px;	
		}
		&.signup{
			max-height: 300px;
		}

		.row {
			margin-bottom: 10px;
		}

		.submit {
			margin-top: 10px;
			border: none;
			background-color: $darkGreen;
			color:white;
			min-width: 80px;
			&.disabled {
				background-color: $lightGreen;
			}
		}
	}

	h3 {
		margin-top: 0;
	}
}

.jumbotron {
	.btn {
		background-color: $green;
		border: none;
		display: inline-block;
	}
	h1 {
		margin-top: 0;
	}
}
.footer {
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #333;
	p {
		color: white;
		padding: 10px 0;
		margin: 0;
		text-decoration: none;
		a {
			color: white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
	font-size: 6em;
}

.flashes {
	position: fixed;
	top: 80px;
	right: 5px;
	left: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 300px;
	height: 50px;
}

.remindr-list-wrapper {
	padding-bottom: 10px;
	.remindr-list {
		width: 95%;
		max-width: 1000px;
		margin-bottom: 20px;
		border-radius: 0 0 5px 5px;
		background-color: #eee;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 0 ;
		.remindr-panel {
			.right {
				margin-top:-1px;
				float:right;
				div, button {
					display: inline-block;
				}
				button {
					margin-left: 7px; 
				}
			}
		}
	}

}

.hide {
	display:none;
}
.navbar-brand {
	font-size: 2em;
	width: 71px;
	height: 20px;
	position: relative;
	margin-right: 15px;

	a {
		z-index: 999;
		position: absolute;
		top: 7px;
		left: 7px;
		height: 120%;
		width: 120%; 
	}
}

.composer-wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.left li {
	&.divider, span.btn-group, button.btn-success {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.page form.form {
		&.login {
			min-height: 275px;
			max-height: 275px;	
		}
		&.signup, &.configure &.share{
			min-height: 430px;
			max-height: 430px;
		}
	}	
	.create-remindr-form {
		label {
			width: 100px !important;
		}
		.left {
			text-align: left; 
		}
	}
}
@media screen and (max-width: 480px) {
	.create-remindr-form {
		.left, .right {
			width: 100%;
			float: left;
			text-align: left;
		}
	}
}

.remindr {
	display: inline-block;
}

.overlink-container {
	position: relative;
}

.overlink {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}