$lightBlue: #66ACFF;
$darkBlue: #356FB2;

body, html {
	padding-top: 0;
	height: 100%;
	background-color: $lightBlue;
}

.ng-view {
	height: 90%;
}

.create-remindr-form {
	.row {
		margin-bottom: 10px;
	}
	input, label {
		margin-top:0;
		margin-bottom: 0;
		vertical-align: baseline;
		display: inline;
	}
	label {
		font-size: 2em;
	}
	.top {
		input {
			width: 250px;
		}
	}
	.bottom {
		input {
			width: 180px;
		}
	}
	.right {
		text-align: left;
	}
	.left {
		text-align: right;
	}
	button {
		float:right;
	}
}

.navbar {
	border-radius: 0 !important;
	margin: 0;
}

.page {
	background-color: $lightBlue;
	width: 100%;
	height: 100%;
	position: relative;

	form.form {
		&.login {
			max-height: 220px;	
		}
		&.signup {
			max-height: 300px;
		}
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		background-color: white;
		width: 95%;
		height: 95%;
		height: auto;
		max-width: 400px;
		padding: 20px;
		border-radius: 5px;

		.row {
			margin-bottom: 10px;
		}

		.submit {
			margin-top: 10px;
			background-color: $darkBlue;
			color:white;
			min-width: 80px;
		}
	}

	h3 {
		margin-top: 0;
	}
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
	font-size: 6em;
}

.navbar-brand {
	font-size: 2em;
}

.composer-wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.remindr {
	font-family: "bree",sans-serif;
	font-style: normal;
	font-weight: 700;
	text-transform: lowercase;

	&.image {
		background: transparent center center no-repeat;
		background-size: 100px 29px;
		text-indent: -9999em;
		display: inline-block;
		width: 100px;
		height: 29px;

		&._000000 {
			background-image: url('../img/remindr_000000.png');

			@media (-webkit-min-device-pixel-ratio: 1.3),
				(-o-min-device-pixel-ratio: 2.6/2),
				(min--moz-device-pixel-ratio: 1.3),
				(min-device-pixel-ratio: 1.3),
				(min-resolution: 1.3dppx) {
				background-image: url('../img/remindr_000000@2x.png');
			}
		}

		&._333333 {
			background-image: url('../img/remindr_333333.png');

			@media (-webkit-min-device-pixel-ratio: 1.3),
				(-o-min-device-pixel-ratio: 2.6/2),
				(min--moz-device-pixel-ratio: 1.3),
				(min-device-pixel-ratio: 1.3),
				(min-resolution: 1.3dppx) {
				background-image: url('../img/remindr_333333@2x.png');
			}
		}

		&.navbar-brand {
			margin-top: 8px;
			margin-left: 10px;

			background-image: url('../img/remindr_777777.png');

			&:hover {
				background-image: url('../img/remindr_5e5e5e@2x.png');
			}

			@media (-webkit-min-device-pixel-ratio: 1.3),
				(-o-min-device-pixel-ratio: 2.6/2),
				(min--moz-device-pixel-ratio: 1.3),
				(min-device-pixel-ratio: 1.3),
				(min-resolution: 1.3dppx) {
				background-image: url('../img/remindr_777777@2x.png');

				&:hover {
					background-image: url('../img/remindr_5e5e5e@2x.png');
				}
			}
		}

		&.signup {
			vertical-align: 6px;
		}
	}
}

.left li {
	&.divider, span.btn-group, button.btn-success {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.page form.form {
		&.login {
			min-height: 275px;
			max-height: 275px;	
		}
		&.signup {
			min-height: 430px;
			max-height: 430px;
		}
	}	
	.create-remindr-form {
		label {
			width: 100px !important;
		}
		.left {
			text-align: left; 
		}
	}
}
@media screen and (max-width: 480px) {
	.create-remindr-form {
		.left, .right {
			width: 100%;
			float: left;
			text-align: center;
		}
	}
}