$lightBlue: #66ACFF;
$darkBlue: #356FB2;

body, html {
	padding-top: 0;
	background-color: $lightBlue
}

.create-reminder-form {
	.form-group {
		label, input {
			display: inline;
			width:inherit;
			height: 50px;
			font-size: 18px;
		}
		.row {
			display: block;
		}
		input {
		}
		text-align: right;

	}
	.left {
		float:left;
	}
	.right {
		float:right;
	}
	.left, .right {
		.row {
			margin-left: 0;
			margin-right:0;
		}
	}
	.bottom {
		.input {
			width: 150px;
		}
	}
	.top {
		.input {
			width: 300px;
		}
	}
	button {
		margin-top: 20px;
		float:right;
	}
}

form.form {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 400px;
	padding: 20px;
	border-radius: 5px;

	.form-group {
		height: 34px;
		width: 100%;
		label, input {
			display: inline-block;
		}
		label {
			text-align: right;
			vertical-align: baseline;
		}
		input {
		}
		.col-xs-7 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	button.submit {
		background-color: $darkBlue;
		color:white;
	}
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
}
.composer-wrapper {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
