<div class="configure page">
    <form class="configure form form-horizontal" ng-submit="update()">
        <tabset>
            <tab class="tab" heading="SMS">
                <div class="checkbox-wrapper">
                    <input class="inline checkbox" ng-model="forwarders.forwarders.sms.active" type=checkbox>
                    <h3 class="inline">SMS Configuration</h3>
                </div>
                <div class="row"> 
                    <div class="col-sm-5 control-label">
                        <label for="login-phonenumber">Phone number</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="login-phonenumber" class="form-control" ng-model="forwarders.forwarders.sms.number" placeholder="8005551234">
                    </div>
                </div>
                <input class="form-control submit" type="submit"/>
            </tab>
            <tab class="tab" heading="Email">
                <div class="checkbox-wrapper">
                    <input class="inline checkbox" ng-model="forwarders.forwarders.email.active" type=checkbox>
                    <h3 class="inline">Email Configuration</h3>
                </div>
                <input class="form-control submit" type="submit"/>
            </tab>
            <tab class="tab" heading="Dropbox">
                <div class="checkbox-wrapper">
                    <input class="inline checkbox" ng-model="forwarders.forwarders.dropbox.active" type=checkbox>
                    <h3 class="inline">Dropbox Configuration</h3>
                    <div class="row">
                        <div class="col-sm-5 control-label">
                            <label for="login-phonenumber">Dropbox todo file:</label>
                        </div>
                        <div class="col-sm-7">
                            <div>{{forwarders.forwarders.dropbox.fileUrl}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <dropbox-chooser local-model="dropbox" data-link-type="direct"></dropbox-chooser>
                    </div>

                </div>
                <input class="form-control submit" type="submit"/>
            </tab>
            
        </tabset>

    </form>
</div>