
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to <span class="remindr image _000000">Remindr</span></h1>
    <p>...</p>
    <p ng-hide="session.username"><a ng-href="#/signup" class="btn btn-primary btn-lg" >Sign Up</a></p>
  </div>
</div>

<h4>
	Debugging
</h4>
<pre>{{ session | json }}</pre>

<div ng-controller="ReminderListController">
	<div ng-init="initList()">
		<ul>
			<li ng-repeat="reminder in reminderList">
				<pre>{{ reminder | json }}</pre>
			</li>
		</ul>
	</div>
</div>
