<div class="signup page">
	<div class="title">Sign up!</div>

	<form class="signup form"ng-submit="signup()">
		<div class="form-group row">
			<label class="col-xs-5" for="login-username">Username</label>
			<div class="col-xs-7">
				<input type="text" id="login-username" class="form-control" ng-model="loginData.username" placeholder="jappleseed">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-xs-5" for="login-email">Email</label>
			<div class="col-xs-7">
				<input type="email" id="login-email" class="form-control" ng-model="loginData.email" placeholder="john.appleseed@gmail.com">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-xs-5" for="login-password1">Password</label>
			<div class="col-xs-7">
				<input type="password" id="login-password1" class="form-control" ng-model="login.password1" placeholder="Password">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-xs-5" for="login-password2">Retype Password</label>
			<div class="col-xs-7">
				<input type="password" id="login-password2" class="form-control" ng-model="user.password2" placeholder="Password">	
			</div>
		</div>
		<div class="form-group row">
			<button type="submit" class="submit form-control">Sign Up!</button>
		</div>
	</form>
</div>j