<div class="signup page">
	<form class="signup form form-horizontal" ng-submit="signup()">
		<h3>Sign up for <object data="/static/img/remindr.svg?color=#000,scale=0.25" type="image/svg+xml" height="27" width="89" style="vertical-align: -2px">Remindr</object></h3>
		<div class="row">
			<div class="col-sm-5 control-label">
				<label for="login-username">Username</label>
			</div>
			<div class="col-sm-7">
				<input type="text" id="login-username" class="form-control" ng-model="user.username" placeholder="jappleseed">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 control-label">
				<label for="login-email">Email</label>
			</div>
			<div class="col-sm-7">
				<input type="email" id="login-email" class="form-control" ng-model="user.email" placeholder="john.appleseed@gmail.com">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 control-label">
				<label for="login-password1">Password</label>
			</div>
			<div class="col-sm-7">
				<input type="password" id="login-password1" class="form-control" ng-model="user.password" placeholder="Password">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 control-label">
				<label for="login-password2">Retype Password</label>
			</div>
			<div class="col-sm-7">
				<input type="password" id="login-password2" class="form-control" ng-model="user.repeatPassword" placeholder="Password">	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button type="submit" class="submit form-control">Sign Up!</button>
			</div>
		</div>
	</form>
</div>
